@keyframes fade-in {
	0%   { opacity: 0; }
	100% { opacity: 1.0; }
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}
.module-wrapper {
	overflow: hidden;
	background-color: #000;
}
.module-wrapper iframe,
.module-wrapper .video-wrapper {
	float: left;
}

.fvid-wrapper {
	width: 50%;
	height: auto;
}

.list-wrapper {
	float: left;
	padding-right: 40px;
	border: 1px solid #fff;
	min-height: 464px;
	min-width: 474px;
}
.list-wrapper li {
	list-style: none;
	text-align: left;
	color: #fff;
	opacity: 0;
	animation: fade-in 0s 1;
	animation-fill-mode: forwards;
}

.list-wrapper li.animate-in {
	animation: fade-in 2s 1;
	animation-fill-mode: forwards;
}

.col-2 {
	width: 50%;
	display: inline-block;
	padding: 0 4px;
	vertical-align: top;
}

.col-2 img {
	width: 100%;
}
